<!-- quotes/delete_quote.html -->

<h3>Are you sure you want to delete this quote?</h3>

<form method='POST'>
    {% csrf_token %}
    <input type='submit' name="yes" value="yes">
</form>

<form method='GET' action="{% url 'show_profile_page' profile.pk %}">
    {% csrf_token %}
    <input type='submit' name="no" value="no">
</form>

<table>
    <tr>
        <td>
            {{status.timestamp}}
        </td>
        <td>
            {{status.message}} <BR>
            {% if status.image %}
            <img src='{{status.image.url}}' style='max-width: 200;'>
            {% endif %}
        </td>

    </tr>
</table>

<p>

</p>

