<!-- mini_fb/show_possble_friends.html -->

{% extends 'mini_fb/base.html' %}

{% block content %} 
    <BR>
    <h3><a href = "{% url 'show_profile_page' new_friends.pk %}">Back to {{new_friends.first_name}}'s page</a></h3>
    <h2> Friend Suggestions for {{new_friends.first_name}}</h2>
    <table>
        <colgrou>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 50%;">
            <col span="1" style="width: 20%;">
        </colgrou>
    {% for newfriend in new_friends.get_friend_suggestions %}
    <tr>
        <form method="POST" action= "{% url 'add_friend' profile_pk=new_friends.pk friend_pk=newfriend.pk %}"> <!-- HTTP POST to send data to the server -->
            {% csrf_token %}
        <td>
            {% if newfriend.image_url %}
            <img src = "{{newfriend.image_url}}" style = "max-width: 80;">
            {% endif %}
        </td>
        <td>
            {{newfriend.first_name}} - {{newfriend.last_name}}
        </td>
            
        <td>
            <input type="submit" value="Add Friend">
        </td>
    </tr>
        </form>
    {% endfor %}
        
    </table>

{% endblock %}