<!--mini_fb/show_profile_page.html-->
{% extends 'mini_fb/base.html' %}

{% block content %}
<table> <!-- us a table to make the profile look prettier-->
    <tr>
        <th>{{profiles.first_name}} {{profiles.last_name}}</th>
    </tr>
    <tr>
        <td>
            <img src = "{{profiles.image_url}}" style = "max-width: 600; max-height: 600;">
        </td>
    </tr>
    <tr>
        <td>
            {{profiles.email}}
        </td>
    </tr>
    <tr>
        <td>
            {{profiles.city}}
        </td>

    </tr>
</table>

<h2> Status Messages</h2>

<table>
    <colgrou>
        <col span="1" style="width: 40%;">
        <col span="1" style="width: 60%;">
    </colgrou>
    <tr>
        <th>Time</th>
        <th>Message</th>

    </tr>
<!-- create a loop to displate the profiles -->
{% for profile in profiles.get_status_messages %}
<tr>
    <td>
        {{profile.timestamp}}
    </td>
    <td>
        {{profile.message}}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}