<!-- mini_fb/show_news_feed.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<BR>
<h3><a href = "{% url 'show_profile_page' profile.pk %}" >Back to {{profile.first_name}}'s page</a></h3>
<h2> {{profile.first_name}}'s News Feed</h2>

<table>
    <colgrou>
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">

    </colgrou>
    <tr>
    {% for newsfeed in profile.get_news_feed %}

        <td>
            {{newsfeed.timestamp}}
        </td>
        <td>
            <a href = "{% url 'show_profile_page' newsfeed.profile.pk %}" >{{newsfeed.profile.first_name}} - {{newsfeed.profile.last_name}}</a>
        </td>
        <td>
            <img src = "{{newsfeed.profile.image_url}}" style = "max-width: 90;">
        </td>
        <td>
            {% if newsfeed.image %}
            <img src='{{newsfeed.image.url}}' style='max-width: 130;'>
            {% endif %}
        </td>
        <td>
            {{newsfeed.message}}
        </td>
    </tr>
    {% endfor %}

</table>



{% endblock %}