{% extends 'quotes/base.html' %}

{% block content %}

<!-- templates/quotes/create_quote_form.html -->

<h1>Create a new quote</h1>

<form method ="POST"> <!-- HTTP POST to send data to the server -->
    {% csrf_token %}

    <!-- {{form}}   display the form contest variable without formating-->
    <!-- {{form.as_p}}    paragraph stule formatting -->
    <table>
    {{form.as_table}}
    <tr>
        <td></td>
        <td><input type="submit" value="Add a quote!"></td>
    </tr>
    </table>
</form>

{% endblock %}